.hero-section {
  width: 100%;
  background-color: #000000;
  padding: 90px 150px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__leftImg {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    max-width: 400px;
  }
  &__rightImg {
    position: absolute;
    right: 0px;
    top: 30px;
    width: 100%;
    max-width: 450px;
  }
  &__content1 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    color: white;
    max-width: 600px;
    width: 100%;
    position: relative;
    text-align: center;
    h3 {
      font-weight: 600;
      text-align: center;
      letter-spacing: 30%;
      font-size: 16px;
    }
    h1 {
      font-size: 58px;
      font-weight: 700;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 100;
    }
    a {
      background-color: #ffffff;
      color: black;
      padding: 12px 18px;
      // border: 1px solid #ffffff;
      border-radius: 8px;
    }
  }
  &__content2 {
    position: relative;
    margin-top: 100px;
    max-width: 1000px;
    width: 100%;
    display: grid;
    place-items: center;
    img {
      object-fit: contain;
      max-width: 1000px;
      width: 100%;
    }
  }
  &__content3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
    align-items: flex-start;
  }
}
