$mobile: 680px;
$tablet: 1030px;
$desktop: 1024px;

.hero-section {
  width: 100%;
  background-color: #000000;
  padding: 90px 20px 20px;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;

  &__leftImg {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    max-width: 400px;
  }
  &__rightImg {
    position: absolute;
    right: 0px;
    top: 30px;
    width: 100%;
    max-width: 450px;
  }
  &__leftMobile,
  &__rightMobile {
    display: none;
  }
  .blurbg {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(200px);
    border-radius: 999px;
    background-image: linear-gradient(60deg, #af6ffe, #0fa4f4);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    .mobileNav {
      display: none;
    }

    &--content1 {
      display: flex;
      flex-direction: column;
      gap: 14px;
      align-items: center;
      color: white;
      max-width: 600px;
      width: 100%;
      position: relative;
      text-align: center;
      h3 {
        font-weight: 600;
        text-align: center;
        letter-spacing: 5px;
        font-size: 16px;
      }
      h1 {
        font-size: 58px;
        font-weight: 700;
        text-align: center;
      }
      p {
        font-size: 20px;
        font-weight: 100;
      }
      a {
        background-color: #ffffff;
        color: black;
        padding: 12px 18px;
        // border: 1px solid #ffffff;
        border-radius: 8px;
      }
    }
    &--content2 {
      position: relative;
      margin-top: 100px;
      max-width: 1000px;
      width: 100%;
      display: grid;
      place-items: center;
      height: 500px;
      background-image: linear-gradient(to bottom, #00000000, #000000a3),
        url("/public/images/heroCenterimg.png");
      background-repeat: no-repeat;
      background-size: cover;
      // background-position: center;

      // img {
      //   object-fit: contain;
      //   max-width: 1000px;
      //   width: 100%;
      // }
    }
    &--content2Mobile {
      display: none;
    }
    &--content3 {
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: start;
      align-items: flex-start;
      color: white;
      position: relative;
      margin-top: -22px;
      h2 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 7px;
        text-transform: uppercase;
      }
      h1 {
        font-size: 55px;
        font-weight: 600;
      }
      &--paragraph {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        font-size: 18px;
        font-weight: 200;
        color: #ffffff64;
        &--p {
          width: 50%;
        }
        &--br {
          margin-top: 20px;
        }
      }
    }
  }
}

//Media queries

@media (max-width: $mobile) {
  .hero-section {
    padding-top: 0px;
    &__leftImg,
    &__rightImg {
      display: none;
    }
    .blurbg {
      top: 27%;
    }
    &__leftMobile {
      display: block;
      position: absolute;
      top: 330px;
      left: 0px;
      max-width: 400px;
      width: 100%;
    }
    &__rightMobile {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
    }
    &__content {
      &--content1 {
        margin-top: 130px;
        h3 {
          letter-spacing: 4px;
          text-transform: uppercase;
        }
        h1 {
          font-size: 43px;
        }
        p {
          max-width: 400px;
        }
        a {
          margin-top: 30px;
          padding: 20px 60px;
          font-weight: 600;
          font-size: 20px;
          border-radius: 15px;
        }
      }
      .mobileNav {
        display: block;
        width: 100%;
        position: relative;
      }
      &--content2 {
        display: none;
      }
      &--content2Mobile {
        display: flex;
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 700px;
        background-image: linear-gradient(to bottom, #00000000, #000000),
          url("/public/images/mobileGenesis.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      &--content3 {
        align-items: center;
        margin-top: -130px;
        h1 {
          font-size: 30px;
          text-align: center;
          font-weight: 500;
        }
        &--paragraph {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &--p {
            width: 100%;
            text-align: center;
          }
          &--br {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
