$mobile: 680px;
$tablet: 1030px;
$desktop: 1024px;

.trading-live {
  width: 100%;
  background-color: #000000;
  padding: 90px 20px 20px;
  position: relative;
  display: grid;
  place-items: center;
  color: white;
  &__left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 500px;
  }
  &__right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    max-width: 500px;
  }
  &__rightMobile,
  &__leftMobile {
    display: none;
  }
  .blurbg {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(200px);
    border-radius: 999px;
    background-image: linear-gradient(60deg, #af6ffe, #0fa4f4);
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    gap: 10px;
    align-items: center;
    text-align: center;
    &--img {
      max-width: 400px;
      width: 100%;
    }
    &--h1 {
      font-size: 55px;
      font-weight: 600;
    }
    &--a {
      background-color: white;
      color: black;
      padding: 6px 15px;
      border-radius: 8px;
      margin-top: 40px;
      display: flex;
      gap: 3px;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  }
}

//Media queries

@media (max-width: $mobile) {
  .trading-live {
    &__left,
    &__right {
      display: none;
    }
    &__rightMobile {
      position: absolute;
      display: block;
      width: 100%;
      max-width: 170px;
      right: 0px;
      top: 0px;
    }

    &__leftMobile {
      position: absolute;
      display: block;
      width: 100%;
      max-width: 180px;
      left: 0px;
      top: 310px;
    }
    .blurbg {
      top: 30%;
      height: 400px;
      width: 400px;
    }

    &__content {
      gap: 50px;
      &--h1 {
        font-size: 40px;
      }
      &--a {
        margin-top: 20px;
        padding: 15px 60px;
        font-weight: 600;
        font-size: 20px;
        gap: 15px;
        border-radius: 20px;
        img {
          width: 40px;
        }
      }
    }
  }
}
