$mobile: 680px;
$tablet: 1030px;
$desktop: 1024px;

.footer {
  width: 100%;
  background-color: #000000;
  padding: 250px 20px 20px;
  margin-top: 100px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;

  &__text {
    position: absolute;
    font-size: 320px;
    top: 0px;
    text-align: center;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    background: linear-gradient(to top, #ffffff42, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
  @media (max-width: $mobile) {
    &__text {
      font-size: 100px;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    max-width: 1050px;
    right: 0px;
    top: -60px;
    z-index: 0;
  }
  &__imgMobile {
    display: none;
  }
  @media (max-width: $mobile) {
    &__img {
      display: none;
    }
    &__imgMobile {
      display: block;
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 100%;
    }
  }
  &__wrapper {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    &--content {
      position: relative;
      background-color: #000000;
      border: 1px solid #ffffff42;
      border-radius: 20px;
      padding: 70px 70px;
      max-width: 1000px;
      width: 100%;
      display: flex;
      color: #ffffff;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      &--h2 {
        max-width: 380px;
        width: 100%;
        font-size: 28px;
        font-weight: 500;
      }
      @media (max-width: $mobile) {
        &--h2 {
          text-align: center;
        }
      }
      &--a {
        color: black;
        background-color: white;
        padding: 15px 25px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
      }
      @media (max-width: $mobile) {
        &--a {
          padding: 20px 40px;
        }
      }
    }
    @media (max-width: $mobile) {
      &--content {
        flex-direction: column;
        gap: 30px;
        padding: 70px 30px;
      }
    }
    &--foot {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      gap: 15px;
      margin-top: 70px;
      padding: 20px;
      position: relative;
      &--left {
        display: flex;
        gap: 80px;
        align-items: center;
        justify-content: center;
        &--1 {
          display: flex;
          flex-direction: column;
          gap: 30px;
          justify-content: flex-start;
          &--p {
            color: #ffffff42;
            font-weight: 200;
            display: flex;
            align-items: center;
            gap: 6px;
            img {
              width: 20px;
            }
          }
        }
      }
      &--right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        @media (max-width: $mobile) {
          &--img {
            width: 300px;
          }
        }
        &--socials {
          display: flex;
          gap: 20px;
          align-items: center;
          img {
            max-width: 20px;
            width: 100%;
          }
        }
        @media (max-width: $mobile) {
          &--socials {
            display: none;
          }
        }
      }
      &--mobileSocials {
        display: none;
      }

      @media (max-width: $mobile) {
      }
    }
    @media (max-width: $mobile) {
      &--foot {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        &--mobileSocials {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          gap: 25px;
          img {
            border: 1px solid #ffffff42;
            border-radius: 999px;
            padding: 15px;
          }
        }
      }
    }
    &--bottom {
      text-align: center;
      width: 100%;
      color: #ffffff42;
      padding: 20px;
      border-top: 1px solid #ffffff14;
      position: relative;
    }
  }
}

@media (max-width: $mobile) {
  .footer {
    padding-top: 80px;
  }
}
